{% extends 'base/page_container.html'%}
{% block content %}
        <!-- Blog Post -->
        {% for post in posts %}
        <div class="card mb-4">
        {% if  post.image %}
        <img src="{{ MEDIA_URL }}{{post.image}}" alt="No image">
        {% else %}
        <p></p>
        {% endif %}
		      
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.content | slice:":400"}}</p>
            <a href="{% url 'index:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{post.created_on}}
          
          </div>
        </div>
       {% endfor %}

        <!-- Pagination -->
     {% if posts.paginator.num_pages > 1 %}
     <ul class="pagination justify-content-center mb-4">
        {% if items.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
        <li class="page-item"> <a href="?page={{ items.previous_page_number }}" class="page-link"> &larr; Previous</a></li>
        {% endif %}
        <li class="page-item disabled page-link">
       <span >{{ items.number }}</span>&nbsp;<span>of</span>
        <span>{{ items.paginator.num_pages }}</span>
        </li>
        {% if items.has_next %}
        <li class="page-item" ><a href="?page={{ items.next_page_number }}" class="page-link">Next 	&rarr;</a> </li>
        <li class="page-item"> <a href="?page={{ items.paginator.num_pages }}" class="page-link">Last</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}