{% extends 'base/premium_page_container.html'%}
{% block content %}
        <!-- Blog Post -->
        <h4>{{single_league_category}}</h4>
        
        {% for premium_category_post in premium_category_posts %}
        <div class="card mb-4">
        
		      <img src="{{ MEDIA_URL }}{{premium_category_post.image}}">
          <div class="card-body">
            <h2 class="card-title">{{premium_category_post.title}}</h2>
            <p class="card-text">{{premium_category_post.content | slice:":400"}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
       {% endfor %}
        

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

{% endblock %}