{% extends 'base/premium_page_container.html'%}
{% block content %}
        <!-- Blog Post -->
        {% for post in posts %}
        <div class="card mb-4">
		      <img src="{{ MEDIA_URL }}{{post.image}}" alt="No image">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.content | slice:":400"}}</p>
            <a href="{% url 'index:premium_post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{post.created_on}}
          
          </div>
        </div>
       {% endfor %}
        
       

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

{% endblock %}