{% extends 'base/premium_page_container.html'%}
{% block content %}
{% if  request.user.subscribed == True and request.user.is_authenticated %}
    <!-- Title -->
    <h1 class="mt-4">{{singe_premium_post.title}}</h1>
  <p>{{singe_premium_post.created_on}}</p>
    <!-- Date/Time -->
    <hr>
    <!-- Preview Image -->
    <img src="{{ MEDIA_URL }}{{singe_premium_post.image}}">
    <hr>
    <!-- Post Content -->
    <p>{{singe_premium_post.content}}</p>
{% else %}
<div class="container">
<h1>Premium Tips | Analysis </h1>
            <div class="alert-message alert-message-success">
                <h4>Content Available to subscribed users only</h4>
                <p> Dear Customer,this content  is visible to subscribed users only. To access sure premium tips/analysis,
                    please register and subscribe. If you are already registered,
                    please click <a href="#">here to subscribe</a></p>
            </div>
</div>
{% endif %}
{% endblock %}