{% load static %}
{% include 'partials/header.html' %}

<body>
{% include 'partials/navigation.html' %}
<div class="container customsetter">
<div class="row">
<!-- Blog Entries Column -->
<div class="col-md-9">
    {% block content %}
    {% endblock %}
</div>
<div class="col-md-3">
<!-- Search Widget -->
<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
    {% if request.user.subscribed and request.user.authenticated %}
     <form method="get">
      <div class="input-group">
        <input type="text" name="a" value="{{ request.GET.a}}" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Go!</button>
        </span>
      </div>
    </form>

    {% else %}
     <form method="get">
      <div class="input-group">
        <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Go!</button>
        </span>
      </div>
    </form>
    
    {% endif %}
     
    </div>
  </div>
<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body cards">
      <div class="row">
        <div class="col-lg-6">
          
          <ul class="list-unstyled mb-0">
            {% for league in league_lists %}
            <li>
              <a href="{% url 'index:category_detail' league.id %}">{{  league.league }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        </div>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Advertise here</h5>
    <div class="card-body">
      This space is reserved for advertisement.To advertise with us,please reach us for more information.Service charged based on duration. 
    </div>
  </div>
</div>
</div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'partials/body_scripts.html' %}
{% include 'partials/footer.html' %}
</body>