{% extends 'base/basic_container.html'%}
{% block content %}
   {% if request.user.is_authenticated %}
      <div class="row text-white custom-bg">
         <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <div class="container p-4">
               <h1>Almost there</h1>

               <div class="bg-c-lite-subscribe">

                  <h4 class="text-dark">Please click confirm payment once you have entered your PIN in your phone</h4>

                  <form id="confirm-payment-form" action=" {% url 'subscriptions:subscription_confirmation' %}" method="POST">
                     {% csrf_token %}
                     <input type="hidden" name="merchant_id" value="{{merchant_id}}" />
                     <button id="confirm-payment" type="submit" class="btn btn-dark btn-lg">Confirm Payment</button>
                  </form>

                  {% if messages %}
                     <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                     </ul>
                  {% endif %}

                  <a class="btn text-light" href="{% url 'subscriptions:subscribe' %}">Change phone number</a>

               </div>

            </div>
         </div>
      </div>
   {% endif %}
{% endblock %}