{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Football Sure Tips</title>
    <link rel="stylesheet" href="{% static 'site/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/custom/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'site/custom/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/custom/css/blog-home.css' %}">
    <link rel="stylesheet" href="{% static 'site/custom/css/blog-post.css' %}">
    <link href="{% static 'site/custom/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'site/custom/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'site/custom/css/solid.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'site/custom/js/all.js' %}"></script>
    <script defer src="{% static 'site/custom/js/brands.js' %}"></script>
    <script defer src="{% static 'site/custom/js/solid.js' %}"></script>
    <script defer src="{% static 'site/custom/js/fontawesome.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <link href="{% static 'site/custom/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'site/custom/css/custom2.css' %}" rel="stylesheet">
   <!--
       <script src="https://kit.fontawesome.com/3687c17c7b.js" crossorigin="anonymous"></script>
   -->
</head>