{% extends 'base/dashboard_container.html' %}
{% block content %}
 <div class="container-fluid">
<br>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-futbol"></i> &nbsp;All Leagues</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>League Id</th>
                                                <th>League</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                            <th>League Id</th>
                                            <th>Edit</th>
                                            <th>League</th>
                                            <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {% for league in all_leagues %}
                                            <tr>
                                            <td>
                                            <a href="{% url 'dashboard:edit_league' league.id %}">{{league.id}}</a>
                                            </td>
                                            <td>
                                            <a href="{% url 'dashboard:edit_league' league.id %}">Edit</a>
                                            </td>
                                             <td>
                                            <a href="{% url 'dashboard:delete_league' league.id %}">Delete</a>
                                            </td>
                                            <td>
                                            {{league.league}}
                                            </td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}