{% extends 'base/dashboard_container.html' %}
{% block content %}
 <div class="container-fluid">
<br>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>Posts</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Title</th>
                                                <th>Image</th>
                                                <th>Slug</th>
                                                <th>Author</th>
                                                <th>Cteated On</th>
                                                <th>Status</th>
                                                <th>Content Type</th>
                                                <th>League</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                               <th>Id</th>
                                                <th>Title</th>
                                                <th>Image</th>
                                                <th>Slug</th>
                                                <th>Author</th>
                                                <th>Created On</th>
                                                <th>Status</th>
                                                <th>Content Type</th>
                                                <th>League</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {% for post in all_posts %}
                                            <tr>
                                            
                                                <td> <a href="{% url 'dashboard:edit_post' post.id %}">{{post.id}}</a></td>
                                                <td>{{post.title}}</td>
                                                <td>{{post.image}}</td>
                                                <td>{{post.slug}}</td>
                                                <td>{{post.author}}</td>
                                                <td>{{post.created_on}}</td>
                                                {% if post.status == 1  %}
                                                <td>Published</td>
                                                {% else %}
                                                <td>Draft</td>
                                                {% endif %}
                                                {% if post.content_type == 1  %}
                                                <td>Paid</td>
                                                {% else %}
                                                <td>Free</td>
                                                {% endif %}
                                                <td>{{post.league}}</td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}