{% extends 'base/dashboard_container.html' %}
{% block content %}
 <div class="container-fluid">
<br>
                        <div class="card mb-4">
                            <div class="card-header">
                            <h3><i class="far fa-money-bill-alt"></i> M-Pesa</h3>
                             Safaricom sends MPesa call back data in this database.For any payment challenges,Please use it to check if the customer made payments.You can use the Mpesa transaction code or
                             customer phone number to search.If the result code is 0, it means the transaction was successfull.You can also confirm the payment using the M-Pesa SMS in your phone.
                             </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <th>Transaction Code</th>
                                                <th>Result Code</th>
                                                <th>Merchant Id</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <th>Transaction Code</th>
                                                <th>Result Code</th>
                                                <th>Merchant Id</th>
                                                <th>Amount</th>
                                            
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {% for mpesa in mpesa_payments %}
                                            <tr>
                                            <td>{{mpesa.phone_number}}</td>
                                            <td>{{mpesa.transaction_code}}</td>
                                            <td>{{mpesa.result_code}}</td>
                                            <td>{{mpesa.merchant_id}}</td>
                                            <td>{{mpesa.amount}}</td>
                                           
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}