{% extends 'base/dashboard_container.html' %}
{% block content %}
 <div class="container-fluid">
<br>
                        <div class="card mb-4">
                            <div class="card-header">
                            <h3><i class="fas fa-hand-holding-usd"></i> Payments</h3>
                             All Payments are confirmed in this database. The validation column confirms if the payment was validated from the M-PESA database.
                             Once the customer makes the payment,it has to appear in the Mpesa database with confirmed status 0 for it to be valid.
                             If the validation is True, it means the transaction was recorded in the M-Pesa database.
                             </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Subscription</th>
                                                <th>Amount</th>
                                                <th>Merchant ID</th>
                                                <th>Phone Number</th>
                                                <th>Validation</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>User</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Subscription</th>
                                                <th>Amount</th>
                                                <th>Merchant ID</th>
                                                <th>Phone Number</th>
                                                <th>Validation</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {% for payment in all_payments %}
                                            <tr>
                                            <td>{{payment.user}}</td>
                                            <td>{{payment.start_date}}</td>
                                            <td>{{payment.end_date}}</td>
                                            <td>{{payment.subscription}}</td>
                                            <td>{{payment.amount}}</td>
                                            <td>{{payment.merchantId}}</td>
                                            <td>{{payment.phone_number}}</td>
                                            <td>{{payment.validation}}</td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}