{% extends 'base/dashboard_container.html' %}
{% block content %}
 <div class="container-fluid">
<br>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-satellite-dish"></i> &nbsp;Subscriptions</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                 <th>Edit</th>
                                                 <th>Subscription Type</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                              <th>Id</th>
                                              <th>Edit</th>
                                              <th>Subscription Type</th>
                                              <th>Amount</th>
                                              <th>Currency</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {% for subscription in all_subsriptions %}
                                            <tr>
                                            <td>
                                            <a href="{% url 'dashboard:edit_subscription' subscription.id %}">{{subscription.id}}</a>
                                            </td>
                                            <td>
                                            <a href="{% url 'dashboard:edit_subscription' subscription.id %}">Edit</a>
                                            </td>
                                            <td>
                                            {{subscription.subscription_type}}
                                            </td>
                                             <td>
                                            {{subscription.amount}}
                                            </td>
                                            <td>
                                            {{subscription.currency}}
                                            </td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}